        <!--  footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="address">
                <h3>Alamat </h3>
              </div>
              <ul class="location_icon">
                <li>Permata Depok</li>
                <li>Nilam F5a No. 5</li>
                <li>Depok 16430</li>
                <li>Indonesia</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="address">
                <h3>Links</h3>
                <ul class="Menu_footer">
                  <li class="active"> <a href="#">Home</a> </li>
                  <li><a href="#about">ArtoPOS </a> </li>
                </ul>
              </div>
              <div class="address">
                <h3></h3>
                <h3>Telepon</h3>
                <ul class="Menu_footer">
                  <li class="active"> <a>(021) 77803905</a> </li>
                  <li><a>08111341274 </a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="address">
                <h3>Media Sosial</h3>
              </div>
              <ul class="social_icon">
                <li><a href="#">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#">Linkedin<i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="#">Youtube<i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                <li><a href="#">Instagram<i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="col-md-7 col-sm-6">
              <div class="address">
                <h3>Newsletter </h3>
              </div>
              <form class="bottom_form">
                <input class="enter" placeholder="Masukan alamat email" type="text" name="Enter Your Email">
                <button class="sub_btn">subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright 2020 All Right Reserved By Artolanggeng</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
